<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudiobookPlaylistIDs</key>
	<array/>
	<key>AudiobookTrackIDs</key>
	<array/>
	<key>MoviePlaylistIDs</key>
	<array/>
	<key>MovieTrackIDs</key>
	<array/>
	<key>MusicAlbumIDs</key>
	<array/>
	<key>MusicArtistIDs</key>
	<array/>
	<key>MusicGenreNames</key>
	<array/>
	<key>MusicPlaylistIDs</key>
	<array/>
	<key>MusicTrackIDs</key>
	<array/>
	<key>PodcastChannelIDs</key>
	<array/>
	<key>PodcastPlaylistIDs</key>
	<array/>
	<key>PodcastTrackIDs</key>
	<array/>
	<key>TVShowAlbumIDs</key>
	<array/>
	<key>TVShowNames</key>
	<array/>
	<key>TVShowPlaylistIDs</key>
	<array/>
	<key>TVShowTrackIDs</key>
	<array/>
	<key>iPodPrefs</key>
	<data>
	ZnJwZAEAGQABAQABUKsWqZxmowOJc2oL+uI6cQAAAAEAAAABAAAAAAAAAAAAAAAAAQAA
	AAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAACpPCOuGHae3gABAAQAAAAAUKsWqZxm
	owMCAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AgAAAAEBAAAAAAAAAAAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAADwAAAAAAAQABAAAAAAEBgAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAATWljaGFlbAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERFU0tUT1AtUUhF
	MDFOTwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAATWljaGFlbAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERFU0tUT1AtUUhFMDFOTwAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABtYXJjAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAREVTS1RPUC00R09JMzIyAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAA=
	</data>
	<key>iTunesVersion</key>
	<string>12.13.7</string>
</dict>
</plist>
